# Telegram API配置（必填）
TELEGRAM_API_ID=26420098
TELEGRAM_API_HASH=658109d6abe6705d9097649547c51429
TELEGRAM_SESSION_STRING=`1BVtsOLwBuxbbuJQa-rNYjb_XWpTPrJceniK88YRUPHm1WuZbw4fDwoDCzNDuP2liysdIG-1XQTlBrgSXalWiFS39aTUW9SFVeNoTnQg_C__tnx0fdRvymNHOH_IbeDkzdWpccB0vlohBpnZNDFPi1TkMstxG23yY5V1kFiNbsHOmDugZJkK94ARtPWEsHuf4M_bisjjgWhA-InvpLAo2Uuor_g9AlzVh-eD62_KgFWtWyeAiF8zk8tuNNR19aEcWYwnYCCI4_L8RO_W9RtZATV-uDu4KQp4giO4FVBlwBuZMkKko2LEyJgvN6WJ4be7mBFHQzZtCe3eGcUQdmitLrOOzGa-bWVM=`

# Telegram聊天ID配置（必填）
TELEGRAM_ADMIN_IDS=6259865244
TELEGRAM_SOURCE_CHAT_IDS=-1001234567890,-1009876543210
TELEGRAM_TARGET_CHAT_IDS=-1001111222333,-1004445556667

# 数据库配置（必填）
POSTGRES_PASSWORD=your_secure_password
POSTGRES_USER=postgres
POSTGRES_DB=pumpbot
POSTGRES_URL=postgresql://postgres:fziqovjr4an97tv2@web3-scraper-qecpnz:5432/postgres

# 如果需要从环境变量覆盖配置文件中的设置，可以在此添加
# TELEGRAM_API_ID=your_api_id
# TELEGRAM_API_HASH=your_api_hash
# TELEGRAM_SESSION_STRING=your_session_string 